.main-content {
    background-image: url("img/landing-page-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    min-width: 360px !important;
}

.main-content-row {
    padding-top: 15% !important;
}

.main-content-form {
    top: 25% !important;
}

#search-wrapper {
    height: 50px !important;
}

#search-btn {
    width: 60px !important;
}

/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    .main-content-row {
        padding-top: 30% !important;
    }
}
/* landscape orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) {
    .main-content-row {
        padding-top: 30% !important;
    }
}
/* portrait orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) {
    .main-content-row {
        padding-top: 30% !important;
    }
}

/* typical tablet screen resolution */
@media only screen and (max-width : 834px) {
}
/* landscape orientation */
@media only screen and (min-width : 768px) and (max-width : 834px) and (orientation : landscape) {
}
/* portrait orientation */
@media only screen and (min-width : 768px) and (max-width : 834px) and (orientation : portrait) {
}

@media only screen and (min-width : 1224px) {
    .main-content-row {
        padding-top: 10% !important;
    }
}
