<div class="breadcrumb-wrapper">
	<div class="row">
		<div class="col-12">
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					@foreach (var crumb in BreadCrumbs)
					{
						<li class="breadcrumb-item @(crumb.IsActive ? "active fw-bold" : "")">
							<NavLink class="text-decoration-none text-white" href="@crumb.Link">@crumb.Text</NavLink>
						</li>
					}
				</ol>
			</nav>
		</div>
	</div>
</div>
