<div>
    <nav class="navbar navbar-expand-lg navbar-black">
        <div class="container">
            <a id="navbar-link" class="navbar-brand" href="#">
                @* <img id="navbar-image" src="img/favicon.png" /> *@
                <i class="bi bi-film text-white"></i>
                <span id="navbar-text" class="text-white">Cineder</span>
            </a>
        </div>
    </nav>
</div>

@code {

}
