<div>
    <nav class="navbar navbar-black">
        <div class="container">
            <a id="navbar-link" class="navbar-brand" href="#">
                <i id="navbar-icon" class="bi bi-film text-white"></i>
                <span id="navbar-text" class="text-white">Cineder</span>
            </a>
        </div>
    </nav>
</div>

@code {

}
