@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid main-content">
    <div class ="main-content-form position-absolute start-0 end-0 mt-3">
        <div class="container">
            <EditForm id="search-form-main" Model="Model" OnValidSubmit="Submit">
                <div class="row justify-content-center my-3">
                    <div class="col-md-8 col-sm-12 col-12">
                        <div id="search-wrapper" class="input-group">
                            <InputText id="search-text" @bind-Value="Model!.SearchText" class="form-control"
                                       placeholder="Enter search here" />
                            <button id="search-btn" type="submit" class="btn btn-dark">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row text-center my-3">
                    <div class="col">
                        <InputRadioGroup Name="search-type" @bind-Value="Model.SearchType">
                            @foreach (var searchType in SearchTypes)
                            {
                                <div class="form-check form-check-inline">
                                    <InputRadio id=@($"search-type-{searchType.Value}") Name="search-type" Value="@searchType.Value" class="form-check-input btn-outline-dark" />
                                    <label class="form-check-label text-white">@searchType.Name</label>
                                </div>
                            }
                        </InputRadioGroup>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
