@page "/movies/{id:int}/similar"

<div class="container site-content">
    <div class="container">
        <div class="container">
           <div class="row">
               <div class="col-12">
                    <BreadCrumbNav BreadCrumbs="NavItems"></BreadCrumbNav>
               </div>
           </div>
        </div>
        <div class="search-page-content">
            <div class="container">
                <header class="border-bottom border-2 border-white mb-3">
                    <h2 class="page-title">@PageTitle <strong>@MovieName</strong></h2>
                </header>
            </div>
            <Loading IsLoading="IsBusy">
                <EditForm Model="PageModel">
                    <div class="search-filter-control-bar">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 flex-nowrap">
                                    <div class="search-wrapper col-6 float-start">
                                    </div>
                                    <div class="filter-wrapper col-4 float-end">
                                        <SortBar Selected="PageModel!.Selected" OnSortChanged="ChangeSort" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-results-wrapper my-3">
                        <div class="container">
                            <MovieList Movies="PageModel.MoviesResults" OnDetailsClicked="ToDetailsPage" />
                        </div>
                    </div>
                    <div class="page-control-bar">
                        <div class="container">
                            <div class="row">
                                <div class="col mx-auto">
                                    <PageControlBar CurrentPage="Page" TotalPages="TotalPages" OnPageChange="ChangePage" />
                                </div>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </Loading>
        </div>
    </div>
</div>