<div class="row mt-3">
    <div class="col-12">
        <p>
            <span class="fs-4 text-decoration-underline">
                Trailer
            </span>
        </p>
        <div class="ratio ratio-16x9 mb-3">
            <iframe src="@TrailerPath" title="@TrailerName" allowfullscreen @onload="TrailerLoaded"></iframe>
        </div>
    </div>
</div>
