<div class="row">
	<div class="col-12">
        <div class="row">
            <div class="col-12">
                <p>
                    <span class="fs-5 text-decoration-underline">
                        Plot
                    </span>
                </p>
                <p>
                    @MovieOverview
                </p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <p>
                    <span class="fs-5 text-decoration-underline">
                        Cast
                    </span>
                </p>
                <div class="d-flex">
                    <span class="flex-fill">
                        @FormatCast
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    <span class="fs-5 text-decoration-underline">
                        Production
                    </span>
                </p>
                <div class="d-flex">
                    <span class="flex-fill">
                        @FormatProduction
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>
