<div class="row">
	<div class="col-12">
        <div class="card text-white bg-black mx-1">
            <img src="@RenderImagePath" class="card-img" />
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <span @onclick="SimliarClick"
                                  class="btn btn-sm btn-outline-light rounded-pill text-nowrap">
                                <span class="text-uppercase fw-bold">@BtnText</span>&nbsp;
                                <i class="bi bi-arrow-right-short fw-bold"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
