<div class="row">
	<div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1>@MovieName</h1>
                <StarRating Rating="@(MovieRating/2)" Colour="gold"></StarRating>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <span>
                    <i class="bi bi-calendar-check"></i>
                </span>
                <span>
                    @MovieReleaseDate.Year
                </span>
            </div>
            <div class="col-12">
                <span>
                    <i class="bi bi-list-task"></i>
                </span>
                <span>
                    @FormatGenres
                </span>
            </div>
            <div class="col-12">
                <span>
                    <i class="bi bi-hourglass-split"></i>
                </span>
                <span>
                    @FormatDuration
                </span>
            </div>
        </div>
	</div>
</div>
