.scroll-content{
    height: 80vh;
}

.movie-img{
    height: 300px;
}

.no-results{
    padding-top: 30%;
}

.details-btn{
    visibility: hidden !important;
}

.card:hover .details-btn {
    visibility: visible !important;
}