
<div class="overflow-auto scroll-content">
    <div class="container">
        <div class="row">
            <div class="col">
                @if (Rows < 1)
                {
                    <div class="no-results">
                        <p class="text-center">No results</p>
                    </div>
                }
                else
                {
                    @for (int row = 0; row < Rows; row++)
                    {
                        <div class="card-group">
                            @foreach (var movie in RowItems[row])
                            {
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="card text-white bg-black mx-2">
                                        <div class="position-relative">
                                            <img src="@ImagePath(movie.PosterPath)" class="card-img" />
                                            <span @onclick="() => DetailsClicked(movie.Id)" 
                                                 class="details-btn btn btn-sm btn-black rounded-pill position-absolute top-50 start-50 translate-middle"
                                             >
                                                Details
                                                <i class="bi bi-arrow-right-short"></i>
                                            </span>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12 ps-0 pe-0">
                                                       <div class="float-start card-body-text">
                                                            <p class="card-text fw-bold">@movie.ReleaseDate.Year</p>
                                                       </div>
                                                        <div class="float-end card-body-text">
                                                            <StarRating Rating="@(movie.VoteAverage/2)" Colour="gold"></StarRating>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>